{% extends "app/base.html" %}
{% load static %}
{% block content %}



    <!-- Start Home -->
    <section class="bg-home" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h6 class="small-title text-uppercase text-light mb-3">This is the Signup, SignIn app.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="home-form-position">
                        <div class="row">
                            
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- popular category start -->
    
    <!-- popular category end -->

    <!-- all jobs start -->
    
    <!-- subscribe end -->

    {% endblock %}

    